* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'Relevance';
	src: url('../fonts/Relevance.ttf');
}

@font-face {
	font-family: 'JUST_Sans';
	src: url(../fonts/JUST_Sans.otf);
}

body {
	font-family: 'Relevance';
	background-color: rgb(109, 0, 0);

}

h2{
	font-family: 'Relevance';
}


nav .menu, a{
	font-family: Relevance;
	color: rgb(255, 0, 0);
	font-size: 25px;
	display: flex;
	justify-content: space-evenly;
}


header.cabecera{
	/* Imagen elegida */
	background-image: url("../imagenes/image.png");

	/* Definir un alto específico */
	height: 150px;

	/* Crear el efecto  al scrollear */
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
}

.cine{
	color: white;
	font-size: larger;
	padding: 20px 25px;
	font-family: Just_sans ;
	h3{
	text-align: justify ;
	font-size: 50px;
	}
}

.indicacion{
	color: white;
	font-style: italic;
	font-size: 20px;
	text-align:center;
	font-family: Just_sans;
}

.asiento {
	background-image: url("../imagenes/Asiento.png");

	height: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

.cine p, .introduccion{
	text-align: justify;
}

main.introduccion{
    font-family: JUST_Sans;
	display: grid;
	grid-template-columns: auto auto;
	border: red;
	width: 80%;
	margin: 0 auto;
	padding: 10%;
	bottom: 10%;
	text-align: justify;
	align-items: center;
	color: white;

}

/*.piepagina{*/

footer.piepagina{
	display: flex;
	flex-direction:column;
}

/* Proyecto html */

section.contacto, h1{ 
	font-family: 'Relevance';
	font-size: 30px;
	padding: 10px;
	color: white;
}
		h5{
			font-family: 'JUST_Sans';
			font-size: 25px;
			padding: 20px;
		}

		form{
			font-size: 25px;
			font-family: 'JUST_Sans';
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;

		}
		
		input{
			font-size: 25px;
			display: flex;
		}
