* {
	margin: 0;
	padding: 0;
}

/* regla para usar una font descargada a la pc */
@font-face {
	font-family: 'AnotherDay';
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}

body {
	font-family: 'Josefin Sans';
	background-color: rgb(202, 79, 79);
	overflow-x: hidden;
}

h2{
	font-family: 'Amstagram';
}

a {
	color: rgb(255, 0, 0);
	font-weight: 600;
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 2rem;
}

.cabecera {
	background-color: cornsilk;
	position: sticky;
	top: 0px;
}

.cabecera img {
	padding: 20px;
}

nav {
	position: relative;
	bottom: 70px;
	left: 1200px;
}

.menu li {
	display: inline;
	width: 5%;
	position: relative;
	left: -230px;
}

.submenu li{
	display:table;
	position: relative;
	left: -95px;
}


/* parallax */

.cabecera{
	/* Imagen elegida */
	background-image: url("../imagenes/CINE\ XXI.png");

	/* Definir un alto específico */
	height: 200px;

	/* Crear el efecto  al scrollear */
	background-position: 0px -130px;
	background-repeat: no-repeat;
	background-size:cover;


	/* box modeling */
	padding: 50px 20px;
	margin-bottom: 20px;
}

.cine h4, .cine p, .introduccion h2, p, h3{
	font-size: larger;
	padding: 10px 20px;
}

.cine h4{
	text-align: justify ;
	padding-top: 40px;
}

/* intento de hacer que la imagen quede con el texto pegado a la derecha */

.asiento {
	display:flex;
	
	background-image: url("../imagenes/Asiento.png");

	height: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	
	text-align: center;
}
.asientoTexto{
	text-align:center;
}
.cine p, .introduccion{
	text-align: justify;
}

.piepagina{
	/* Definir un alto específico */
	height: 400px;
    position: absolute;

}
