* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'Relevance';
	src: url('../fonts/Relevance.ttf');
}

@font-face {
	font-family: 'JUST_Sans';
	src: url(../fonts/JUST_Sans.otf);
}

body {
	font-family: 'Relevance';
	background-color: rgb(109, 0, 0);

}

nav .menu, a{
	font-family: Relevance;
	color: rgb(255, 0, 0);
	font-size: 25px;
	display: flex;
	justify-content: space-evenly;
}


header.cabecera{
	/* Imagen elegida */
	background-image: url("../imagenes/image.png");

	/* Definir un alto específico */
	height: 150px;

	/* Crear el efecto  al scrollear */
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
}

/*Index.html*/

.cine{
	color: white;
	font-size: larger;
	padding: 20px 25px;
	font-family: Just_sans ;
	h3{
	text-align: justify ;
	font-size: 50px;
	}
	p{
	text-align: justify;
	}
}

.indicacion{
	color: white;
	font-style: italic;
	font-size: 20px;
	text-align:center;
	font-family: Just_sans;
}

.asiento {
	background-image: url("../imagenes/Asiento.png");

	height: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}


/* Proyecto.html*/

main.introduccion{
	display: grid;
	grid-template-columns: auto auto;
	border: red;
	width: 90%;
	padding: 100px;
	text-align: justify;
	align-items: center;

	h2{
		font-family: 'Relevance';
		font-size: 30px;
		color: white;
		padding: 20px;
	}
	p{
		font-family: 'JUST_Sans';
		font-size: 25px;
		color: white;

}}

/*.piepagina{*/

.piepagina{
	background-image: url("../imagenes/CINE\ XXI.png");

	height: 50%;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

/* Contacto.html */

section.contacto, h1{ 
	font-family: 'Relevance';
	font-size: 30px;
	color: white;
}
		h5{
			font-family: 'JUST_Sans';
			font-size: 25px;
			padding: 20px;
		}

		form{
			font-size: 25px;
			font-family: 'JUST_Sans';
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;

		}
		
		input{
			font-size: 25px;
			display: flex;
		}

/* Historia.html */

section.historia{
	margin: 10px;
	padding: 10px;

	p{
		font-size: 25px;
		font-family: 'JUST_Sans';
		color: white;
		text-align:justify;
	}
}

/* Objetivos.html */

div.objetivos, h1{

	font-family: 'Relevance';
	padding: 10px;
	font-size: 30px;

	p{
		font-family: 'JUST_Sans';
		margin: 10px;
		text-align: justify;
		font-size: 25px;
		color: white;
	}

}