@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Relevance";
  src: url("../fonts/Relevance.ttf");
}
@font-face {
  font-family: "Just_sans";
  src: url(../fonts/JUST_Sans.otf);
}
header.cabecera {
  /* Imagen elegida */
  background-image: url("../imagenes/image.png");
  /* Definir un alto específico */
  height: 75px;
  /* Crear el efecto  al scrollear */
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
ul li {
  text-decoration: none;
}
ul a {
  font-family: "Relevance";
  color: rgb(255, 0, 0);
  font-size: 100%;
}

body {
  font-family: "Relevance";
  background: rgb(23, 0, 0);
  background: linear-gradient(90deg, rgb(23, 0, 0) 0%, rgb(66, 0, 0) 35%, rgb(134, 0, 0) 100%);
}

/*Index.html*/
.cine {
  color: white;
  padding: 2px 5px;
  font-family: "Relevance";
}
.cine h3 {
  margin: 2% 2%;
  font-size: 100%;
}
.cine p {
  margin: 0 2%;
  font-size: 100%;
  text-align: justify;
  padding-bottom: 2%;
}

.indicacion p {
  color: white;
  font-style: italic;
  font-size: 80%;
  text-align: center;
  font-family: "Relevance";
}

.asiento {
  background-image: url("../imagenes/Asiento.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Proyecto.html*/
main.introduccion {
  display: grid;
  grid-template-columns: 25% 1fr;
  border: red;
  padding: 10px;
  text-align: justify;
  align-items: center;
}
main.introduccion img {
  width: 100%;
  height: 80%;
}
main.introduccion h1 {
  font-family: "Relevance";
  margin: 0 2%;
  font-size: 150%;
  width: 90%;
  max-width: 1200px;
  text-align: left;
  color: white;
}
main.introduccion h2 {
  font-family: "Relevance";
  margin: 0 2%;
  width: 90%;
  max-width: 1200px;
  color: white;
}
main.introduccion p {
  font-family: "JUST_Sans";
  margin: 0 2%;
  width: 90%;
  max-width: 1200px;
  color: white;
}
main.introduccion li {
  font-family: "Just_sans";
  margin: 0 2%;
  width: 90%;
  max-width: 1200px;
  color: white;
}

/* Contacto.html */
section h1 {
  font-family: "Relevance";
  font-size: 100%;
  color: white;
  margin: 0 2%;
}

h2 {
  font-family: "JUST_Sans";
  font-size: 100%;
  margin: 0 2%;
  text-align: justify;
  color: white;
}

form {
  font-size: 100%;
  font-family: "JUST_Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

input {
  font-size: 100%;
  display: flex;
}

.boton {
  height: 30px;
  width: 100px;
}

/* Historia.html */
section.historia {
  padding: 10px;
}
section.historia p {
  font-size: 14px;
  font-family: "JUST_Sans";
  color: white;
  text-align: justify;
}

/* Objetivos.html */
div.objetivos, h1 {
  font-family: "Relevance";
  padding: 10px;
  font-size: 120%;
  color: white;
}
div.objetivos li, h1 li {
  font-size: 100%;
  color: white;
  text-decoration: none;
}

.piepagina {
  background-image: url("../imagenes/CINE XXI.png");
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Index.html media-query */
@media (max-width: 480px) {
  .cine, p {
    text-align: justify;
    padding-bottom: 5%;
  }
  .asiento {
    height: 50%;
  }
  /* Proyecto.html media-query */
  main.introduccion {
    display: flex;
    flex-direction: column;
    font-family: "JUST_Sans";
    font-size: 20px;
    color: white;
    padding: 5%;
    text-align: justify;
  }
  main.introduccion h1 {
    text-align: center;
  }
  main.introduccion p {
    padding-top: 5%;
  }
  main.introduccion li {
    list-style: circle;
    text-decoration: none;
    text-align: left;
    padding-bottom: 2%;
  }
  /*Contacto.html media-query*/
  .contacto h1 {
    font-family: "Relevance";
    font-size: 150%;
    margin: 0 2%;
    color: white;
  }
  h2 {
    font-family: "JUST_Sans";
    font-size: 100%;
    margin: 0 2%;
  }
  h3 {
    font-size: 100%;
  }
  form {
    font-size: 100%;
    margin: 0 2%;
    font-family: "JUST_Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  input {
    font-size: 100%;
    margin: 0 2%;
    display: flex;
  }
  textarea {
    font-size: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
