/*Index.html*/

.cine{
	color: white;
	padding: 2px 5px;
	font-family: "Relevance" ;

	h3{
	margin: 2% 2%;
	font-size: 100%;
	}

	p{
	margin: 0 2%;
	font-size: 100%;
	text-align: justify;
	padding-bottom: 2%;
	
}}

.indicacion p{
	color: white;
	font-style: italic;
	font-size: 80%;
	text-align:center;
	font-family: "Relevance";
}

.asiento {
	background-image: url("../imagenes/Asiento.png");

	height: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

/* Proyecto.html*/

main.introduccion{
	display: grid;
	grid-template-columns: 25% 1fr;
	border: red;
	padding: 10px;
	text-align: justify;
	align-items: center;

    img{
    width: 100%;
    height: 80%;
    }

	h1{
		font-family: 'Relevance';
		margin: 0 2%;
		font-size: 150%;
		width: 90%;
		max-width: 1200px;
		text-align: left;
		color: white;
	}

	h2{
		font-family: 'Relevance';
		margin: 0 2%;
		width: 90%;
		max-width: 1200px;
		color: white;

	}

	p{
		font-family: 'JUST_Sans';
		margin: 0 2%;
		width: 90%;
		max-width: 1200px;
		color: white;

	}
	li{
		font-family: 'Just_sans';
		margin: 0 2%;
		width: 90%;
		max-width: 1200px;
		color: white;
	}
}

/* Contacto.html */

section h1{
	font-family: 'Relevance';
	font-size: 100%;
	color: white;
	margin: 0 2%;
}
		h2{
			font-family: 'JUST_Sans';
			font-size: 100%;
			margin: 0 2%;
			text-align: justify;
			color: white;
		}

		form{
			font-size: 100%;
			font-family: 'JUST_Sans';
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			color: white;
		}
		
		input{
			font-size: 100%;
			display: flex;
		}

		.boton{
			height: 30px;
			width: 100px;
		}

/* Historia.html */

section.historia{
	padding: 10px;

	p{
		font-size: 14px;
		font-family: 'JUST_Sans';
		color: white;
		text-align:justify;
	}
}

/* Objetivos.html */

div.objetivos, h1{

	font-family: 'Relevance';
	padding: 10px;
	font-size: 120%;
	color: white;

	li{
		font-size: 100%;
		color: white;
		text-decoration: none;
	}
}