/*Index.html*/

.cine{
	color: white;
	font-size: larger;
	padding: 2px 5px;
	font-family: "Relevance" ;

	h3{
	text-align: justify ;
	font-size: 16px;
	}

	p{
	text-align: justify;
    font-size: 10px;
    font-weight: 400;
	
}}

.indicacion{
	color: white;
	font-style: italic;
	font-size: 9px;
	text-align:center;
	font-family: "Relevance";
}

.asiento {
	background-image: url("../imagenes/Asiento.png");

	height: 100%;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

/* Proyecto.html*/

main.introduccion{
	display: grid;
	grid-template-columns: 170px 1fr;
	border: red;
	padding: 10px;
	text-align: justify;
	align-items: center;

    img{
    width: 170px;
    height: 120px;
    }

	h2{
		font-family: 'Relevance';
		font-size: 10px;
		color: white;
		padding: 5px;
	}

	h3{
		font-family: 'Relevance';
		font-size:14px;
		color: white;
		padding-left: 10px;
	}

	p{
		font-family: 'JUST_Sans';
		font-size: 12px;
		color: white;
		padding-left: 10px;
	}
	li{
		font-family: 'Just_sans';
		font-size: 10px;
		color: white;
		padding-left: 10px;
	}
}

/* Contacto.html */

section.contacto, h1{
	font-family: 'Relevance';
	font-size: 16px;
	color: white;
	padding: 5px;
}
		h2{
			font-family: 'JUST_Sans';
			font-size: 12px;
			padding: 10px;
			text-align: justify;
		}

		form{
			font-size: 10px;
			font-family: 'JUST_Sans';
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
		}
		
		input{
			font-size: 10px;
			display: flex;
		}

		.boton{
			height: 30px;
			width: 100px;
		}

/* Historia.html */

section.historia{
	padding: 10px;

	p{
		font-size: 14px;
		font-family: 'JUST_Sans';
		color: white;
		text-align:justify;
	}
}

/* Objetivos.html */

div.objetivos, h1{

	font-family: 'Relevance';
	padding: 10px;
	font-size: 14px;

	li{
		color: white;
	}
	a{
		font-family: 'JUST_Sans';
		text-align: justify;
		font-size: 10px;
		color: white;
	}

}